/*

Write your custom styles and overrides of Bootstrap in this file.

For example, if you wanted to change the body font:

body {
  font-family: "Vollkorn";
}

*/
body {
    padding-top: 75px;
}

thead {
  vertical-align: middle;
}

/*Trying to get the header fixed*/
/*thead.fixedHeader tr {
  position: relative
}

html>body thead.fixedHeader tr {
  display: block
}*/
